snippet upt
/*jslint unparam:true*/
endsnippet
snippet upf
/*jslint unparam:false*/
endsnippet

snippet regex
cancelKeypress = /^(13|32|37|38|39|40)$/.test("" + evt.keyCode);
endsnippet

snippet clone_array
$1.slice(0)
endsnippet

snippet dg
debugger;
endsnippet
