snippet cpbefore_finalize
@cherrypy.tools.register('before_finalize', priority=60)
def secureheaders():
	headers = cherrypy.response.headers
	headers['X-Frame-Options'] = 'DENY'
	headers['X-XSS-Protection'] = '1; mode=block'
endsnippet

