snippet datapolice
<record model="data.police" id="${1:any_id}">
  <field name="model">${2:model}</field>
  <field name="checkdef">${3:def}</field>
  OR expr using obj. == ....
  <field name="expr">${3:def}</field>
  <field name="name">${4:description}</field>
  <field name="domain"></field>
</record>
endsnippet
