[submodule "installed_plugins/vim-openerp-browser"]
	path = installed_plugins/vim-openerp-browser
	url = ssh://git@git.clear-consulting.de:50004/vim/Odoo-browser.git
[submodule "local/fzf"]
	path = local/fzf
	url = https://github.com/junegunn/fzf
[submodule "local/neovim"]
	path = local/neovim
	url = https://github.com/neovim/neovim.git
